@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url(../fonts/Robotoitalic.woff2) format('woff2'), url(../fonts/Robotoitalic.woff) format('woff'), url(../fonts/Robotoitalic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/Roboto.woff2) format('woff2'), url(../fonts/Roboto.woff) format('woff'), url(../fonts/Roboto.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('Verdana.eot');
    src: local('Verdana'), url(../fonts/Verdana.eot) format('embedded-opentype'), url(../fonts/Verdana.woff2) format('woff2'), url(../fonts/Verdana.woff) format('woff'), url(../fonts/Verdana.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('Verdana-Bold.eot');
    src: local('Verdana Bold'), local('Verdana-Bold'), url(../fonts/Verdana-Bold.eot) format('embedded-opentype'), url(../fonts/Verdana-Bold.woff2) format('woff2'), url(../fonts/Verdana-Bold.woff) format('woff'), url(../fonts/Verdana-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

section {
    max-width: 1250px;
    margin: 0 auto;
    min-width: 1250px;
    position: relative;
    z-index: 0;
}

img {
    width: 100%;
    display: block;
}

.idc-container {
    margin: 0 auto;
    width: 100%;
    padding: 0 75px;
}

.idc-bg-wrapper[style^='background-image'] {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.idc-bg-wrapper {
    height: 100%;
    width: 100%;
    top: 0;
    left: 50%;
    position: absolute;
    z-index: -1;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.idc-bg-wrapper[style^='background-image']:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: 'Proxima Nova Condensed', sans-serif; */
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

.idc-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.idc-verdana {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: rgba(45, 35, 33, 0.8);
}

.idc-roboto {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: rgba(45, 35, 33, 0.8);
}

.idc-title {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2D2321;
    margin: 0;
}

.idc-wrapper {
    position: relative;
}


/* *************head************ */

.idc-head .idc-container {
    padding-top: 150px;
    padding-bottom: 100px;
}

.idc-logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -50px;
}

.idc-company {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    margin-top: -45px;
    text-transform: uppercase;
    color: #DCC9B6;
    text-align: right;
    max-width: 140px;
}

.idc-main-title__block {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 100%;
}

.idc-main-title__block .idc-title {
    max-width: 725px;
    font-size: 50px;
    line-height: 130%;
}

.idc-swiper-buttons {
    margin-left: auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: 50px;
}

.idc-head__swiper-button-prev,
.idc-head__swiper-button-next {
    width: 60px;
    height: 60px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #DCC9B6;
    border-radius: 100px;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.idc-head__swiper-button-next {
    margin-left: 20px;
}

.idc-head__swiper-button-prev:hover,
.idc-head__swiper-button-next:hover {
    opacity: 1;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.idc-swiper-path {
    stroke: #DCC9B6;
}

.idc-head__swiper-button-prev:active,
.idc-head__swiper-button-next:active,
.idc-head__swiper-button-prev:active .idc-swiper-path,
.idc-head__swiper-button-next:active .idc-swiper-path {
    border-color: #80614A;
    stroke: #80614A;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
}

.idc-swiper {
    margin-top: 40px;
}

.idc-swiper-slide {
    width: 20vw;
}


/* ************about************ */

.idc-about .idc-container {
    padding-top: 150px;
    padding-bottom: 150px;
}

.idc-about__img {
    width: 524px;
}

.idc-about__text {
    max-width: 500px;
    margin-left: 40px;
}

.idc-about__text .idc-title+.idc-verdana {
    margin: 0;
    margin-top: 30px;
}

.idc-about__text .idc-verdana+.idc-verdana {
    margin: 0;
    margin-top: 25px;
}


/* *************numbers************ */

.idc-numbers .idc-container {
    padding-top: 60px;
    padding-bottom: 100px;
}

.idc-numbers__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 110px;
    margin-top: 40px;
}

.idc-numbers__item:last-child {
    margin-right: 0;
}

.idc-number {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #2D2321;
}

.idc-number span {
    font-size: 20px;
    line-height: 24px;
}

.idc-undernumber {
    position: relative;
    margin: 0;
    color: rgba(45, 35, 33, 0.7);
    font-size: 16px;
    line-height: 21px;
    margin-top: 14px;
    padding-top: 6px;
}

.idc-undernumber::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #DCDCDD;
}


/* *************pluses************ */

.idc-pluses .idc-container {
    padding-top: 150px;
    padding-bottom: 150px;
}

.idc-pluses__block {
    margin-top: 15px;
}

.idc-pluses__item {
    position: relative;
    width: 350px;
    margin-right: 25px;
    margin-top: 25px;
}

.idc-pluses__item:nth-child(3),
.idc-pluses__item:nth-child(6) {
    margin-right: 0;
}

.idc-pluse {
    margin: 0;
    position: absolute;
    left: 25px;
    bottom: 35px;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0.03em;
    max-width: 300px;
    text-transform: uppercase;
    color: #FFFFFF;
}


/* *************values************ */

.idc-values .idc-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.idc-values__img {
    width: 525px;
}

.idc-values__text {
    max-width: 408px;
    margin-left: 45px;
}

.idc-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    padding-left: 13px;
}

.idc-list__item+.idc-list__item {
    margin-top: 20px;
}

.idc-list__item {
    text-transform: uppercase;
    position: relative;
}

.idc-list__item::before {
    position: absolute;
    content: '';
    left: -13px;
    top: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: #FFD1AF;
}

.idc-list__text {
    margin: 0;
    text-transform: none;
    opacity: 0.8;
    margin-top: 10px;
}


/* *************whyus************ */

.idc-whyus .idc-container {
    position: relative;
    padding-top: 215px;
    padding-bottom: 100px;
}

.idc-whyus .idc-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 235px;
    margin-top: 100px;
}

.idc-items__block+.idc-items__block {
    margin-left: 25px
}

.idc-whyus__items {
    margin-top: 15px;
}

.idc-whyus__item {
    max-width: 526px;
    margin-top: 25px;
}

.idc-item__number {
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: rgba(224, 206, 201, 0.5);
}

.idc-item__text {
    margin: 0;
    max-width: 430px;
    margin-left: 15px;
}

.idc-item__text span {
    font-weight: bold;
    display: block;
}


/* *************shops************ */

.idc-shops .idc-container {
    padding-top: 60px;
    padding-bottom: 110px;
}

.idc-title__block {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.idc-cities {
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    cursor: pointer;
    padding: 15px 25px 15px 20px;
    border: 1px solid #DFCAB5;
    border-radius: 50px;
    position: relative;
}

.idc-cities svg {
    display: block;
    margin-left: 18px;
}

.idc-cities:hover,
.idc-cities:hover .idc-swiper-path {
    border-color: #80614A;
    stroke: #80614A;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
}

.idc-burger {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #DFCAB5;
    border-radius: 12px;
    background: #FFFFFF;
    z-index: 1;
    opacity: 0;
    height: 0;
    max-height: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s ease, max-height 0.8s ease-in;
    -o-transition: opacity .5s ease, max-height 0.8s ease-in;
    transition: opacity .5s ease, max-height 0.8s ease-in;
    overflow: hidden;
}

.idc-burger.open {
    visibility: visible;
    opacity: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 300px;
    max-height: 3000px;
    -webkit-transition: opacity .5s ease, max-height 0.8s ease-in;
    -o-transition: opacity .5s ease, max-height 0.8s ease-in;
    transition: opacity .5s ease, max-height 0.8s ease-in;
}

.idc-burger__list {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    height: 100%;
    scrollbar-width: thin;
    scrollbar-color: #E0E2E7 transparent;
}

.idc-burger__item {
    list-style-type: none;
}

.idc-item-name {
    display: block;
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
}

.idc-item-name:hover {
    color: #80614A;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.idc-map {
    width: 100%;
    position: relative;
}

.idc-dot {
    position: absolute;
    cursor: pointer;
}

.idc-dot::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50px;
    background-color: #FFCCA5;
}

.idc-dot:hover::before,
.idc-dot.show::before {
    background-color: #FFA968;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.idc-tooltip {
    position: absolute;
    bottom: calc(100% + 1vw);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 10px 12px;
    -webkit-box-shadow: 0px 0px 20px rgba(77, 77, 77, 0.25);
    box-shadow: 0px 0px 20px rgba(77, 77, 77, 0.25);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

.idc-dot.show .idc-tooltip {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.idc-tooltip::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border: 6px solid transparent;
    border-top-color: #FFFFFF;
}

.idc-xxl::before {
    height: 25px;
    width: 25px;
}

.idc-xl::before {
    height: 20px;
    width: 20px;
}

.idc-l::before {
    height: 18px;
    width: 18px;
}

.idc-m::before {
    height: 12px;
    width: 12px;
}

.idc-s::before {
    height: 9px;
    width: 9px;
}

.idc-xs::before {
    height: 6px;
    width: 6px;
}

#idc-1 {
    left: 11.5%;
    top: 55%;
}

#idc-2 {
    left: 13.5%;
    top: 49.5%;
}

#idc-3 {
    left: 10.1%;
    top: 54%;
}

#idc-4 {
    left: 12.2%;
    top: 54%;
}

#idc-5 {
    left: 9.2%;
    top: 54%;
}

#idc-6 {
    left: 12.5%;
    top: 58%;
}

#idc-7 {
    left: 14.5%;
    top: 46.5%;
}

#idc-8 {
    left: 13%;
    top: 43%;
}

#idc-9 {
    left: 29.5%;
    top: 66%;
}

#idc-10 {
    left: 2%;
    top: 43%;
}

#idc-11 {
    left: 22%;
    top: 75.5%;
}

#idc-12 {
    left: 33.8%;
    top: 70%;
}

#idc-13 {
    left: 45%;
    top: 81%;
}

#idc-14 {
    left: 11%;
    top: 59.5%;
}

#idc-15 {
    left: 10%;
    top: 57%;
}

#idc-16 {
    left: 37.5%;
    top: 64%;
}

#idc-17 {
    left: 19.5%;
    top: 70%;
}

#idc-18 {
    left: 22.8%;
    top: 64%;
}

#idc-19 {
    left: 26.8%;
    top: 73.3%;
}

#idc-20 {
    left: 16.5%;
    top: 73%;
}

#idc-21 {
    left: 7.5%;
    top: 72%;
}

#idc-22 {
    left: 20.8%;
    top: 67%;
}

#idc-23 {
    left: 11.5%;
    top: 73%;
}

#idc-24 {
    left: 16.5%;
    top: 50%;
}

#idc-25 {
    left: 18%;
    top: 70.2%;
}

#idc-26 {
    left: 4%;
    top: 75%;
}

#idc-27 {
    left: 22%;
    top: 33%;
}

#idc-28 {
    left: 16.5%;
    top: 58%;
}

#idc-29 {
    left: 23%;
    top: 67.5%;
}

#idc-30 {
    left: 18.5%;
    top: 64%;
}

#idc-31 {
    left: 10.2%;
    top: 62.5%;
}

#idc-32 {
    left: 48.5%;
    top: 84%;
}

#idc-33 {
    left: 45.5%;
    top: 87%;
}

#idc-34 {
    left: 11.2%;
    top: 69.5%;
}

#idc-35 {
    left: 53.5%;
    top: 71%;
}

#idc-36 {
    left: 40.5%;
    top: 66%;
}

#idc-37 {
    left: 48%;
    top: 80.5%;
}


/* *************prefooter************ */

.idc-prefooter .idc-container {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.idc-video {
    width: 100%;
    height: 44vw;
}

.idc-video iframe {
    height: 100%;
    width: 100%;
}

.idc-prefooter .idc-bg-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 475px;
}

.idc-prefooter__text {
    margin: 0;
    text-align: right;
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    color: #1F1F1F;
    max-width: 530px;
    margin-top: 60px;
    margin-left: auto;
}